# This is Git's per-user configuration file.
[user]
  name = AyonC
  email = 106944474+AyonCh@users.noreply.github.com
  editor = nvim
  autocrlf = input
[credential]
  helper = store
[init]
  defaultBranch = main
[pull]
  rebase = false
